
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0px;
    position: sticky;
    height: 100px;
}
.logo {
    width: 100px;
    margin: 0px;
    background-color: #f0f0f0;
}
.nav-items{
    padding: 0px 10px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
    margin: 0px;
}

.nav-items > ul > li {
    padding: 18px;
    margin: 18px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding-right: 30px;
    margin: 5px;
    width: 225px;
    height: 350px;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: large;
}

.res-card:hover {
    background: #e1e1e1;
    border: 1px solid #d0d0d0;
    cursor: pointer;
}

.reslogo {
    width: 100%;
    height: 40%;
}

.search {
    padding: 10px;
}

.filter-btn{
    margin: 10px;
}

.shimmer-card {
    margin: 20px;
    width: 225px;
    height: 330px;
    background-color: #f0f0f0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.login {
    cursor: pointer;
    font-size: 22px;
    padding: 0px 20px ;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    font-weight: bold;
}

.root {
    margin-top: 0px;
    margin-bottom: 0px;
}