.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 150px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 18px;
    margin: 18px;
}
.res-card {
    width: 225px;
    height: auto;
    border: 1px solid black;
    background-color: #f0f0f0;
    padding: 5px;
}

.reslogo {
    width: 100%;
    height: 60%;
}


.search {
    padding: 10px;
}